body {
    font-family: Arial, sans-serif;
    margin: 2 20px;
    padding: 2 20px;
    border: 1px solid black;
}

header {
    background-color: dodgerblue;
    text-align: center;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    
}

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(194, 190, 190);
    color: white;
    width: 15rem;
    padding: 1rem;
}

.right-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.top-bar,
.main-content {
    display: flex;
    gap: 10px;
}

.box {
    background-color: lightcoral;
    padding: 20px;
    text-align: center;
}
footer{
    display: flex;
    background-color: rgb(219, 60, 60);
    text-align: center;
    color: white;
    justify-content: center;
}